.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
build
dist/*
logs/*
node_modules/
nbproject/
/.settings/*
catalog.xml
.buildpath
.project
*.tar.gz
*.pdf
*.zip
*.rar
*.exe
*.bak
