
.hero h1 {
    font-size: 50px;
}

.hero code {
    color: #3c763d;
    background-color: #dff0d8;
}

.last-action {
    position: relative;
}

.last-action-enter {
    position: relative;
    top: -30px;
    opacity: 0.01;
    transition: all .1s ease-in;
}

.last-action-enter.last-action-enter-active {
    position: relative;
    top: 0;
    opacity: 1;
}


.tree-event-alert {
    font-size: 18px;
}

.tree-event-alert strong {
    font-size: 22px;
}

.tree-view-node-label:parent   {
    color: red;
}


/*

<classNamePrefix>-root

The outer container

*/
.tree-view-root {}

/*

<classNamePrefix>-root

The outer container for a single node

*/
.tree-view-node {
    margin-left: 10px;
}

.tree-view-node .tree-view-node {
    margin-left: 26px;
}


/*

<classNamePrefix>-node-collapse-toggle.collapse-spacer

Used to provide spacing when a parent node has no children

*/
.tree-view-node-collapse-toggle.collapse-spacer {
    width: 14px;
    display: inline-block;
    cursor: pointer;
}

/*
<classNamePrefix>-node-collapse-toggle.<expandIconClass>

The class to use for the icon that expands a collapsed parent node

*/


/*

<classNamePrefix>-node-collapse-toggle.<collapseIconClass>

The class to use for the icon that collapses an expanded parent node

*/

.tree-view-node-collapse-toggle {
    margin-right: 10px;
    width: 14px;
    cursor: pointer;
}

/*

<classNamePrefix>-node-label

*/
.tree-view-node-label {
    font-weight: normal;
    margin-left: 6px;
    padding: 1px;
    border: 1px solid #fff;
}

/*

<classNamePrefix>-node-label.selected

*/
.tree-view-node-label.selected {
    font-weight: normal;
    border: 1px solid #003f81;
    border-radius: 3px;
    background-color: #808080;
}

/*

<classNamePrefix>-node-checkbox

The class for a node checkbox

*/

.tree-view-node-checkbox {}

/*

<classNamePrefix>-node-children

The class for the element that wraps a nodes children (if any exist)

*/

.tree-view-node-children {}
